{% extends 'base.html.twig' %}

{% block title %}Garage V Parrot{% endblock %}

{% block content %}
    <div class="allcontain">
        {% include 'navbar.html.twig' %}
    </div>
    <div class="allcontain">
        {% include 'slider.html.twig' %}
    </div>
    <div class="allcontain">
        {% include 'services.html.twig' %}
        {% include 'partner.html.twig' %}
        {% include 'testimonial.html.twig' %}
    </div>
    <div class="allcontain">
        {% include 'blog.html.twig' %}
    </div>
    <div class="allcontain">
        {% include 'contact.html.twig' %}
    </div>
    <div class="allcontain">
        {% include 'footer.html.twig' %}
    </div>
{% endblock %}