{% extends 'base.html.twig' %}

{% block title %}Garage V Parrot{% endblock %}

{% block content %}
    <div class="allcontain">
        {% include 'header.html.twig' %}
        {% include 'navbar.html.twig' %}
    </div>
    <div class="allcontain">
        {% include 'carousel.html.twig' %}
    </div>
    <div class="allcontain">
        {% include 'featured.html.twig' %}
        {% include 'latest-section.html.twig' %}
        {% include 'latest-thumbnail.html.twig' %}
    </div>
    <div class="allcontain">
        {% include 'newsletter.html.twig' %}
    </div>
    <div class="allcontain">
        {% include 'contact.html.twig' %}
    </div>
    <div class="allcontain">
        {% include 'footer.html.twig' %}
    </div>
{% endblock %}