{% extends 'base.html.twig' %}

{% block title %}Garage V Parrot{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('source/bootstrap-3.3.6-dist/css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('source/font-awesome-4.5.0/css/font-awesome.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('style/slider.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('style/mystyle.css') }}">
{% endblock %}

{% block body %}
            <div class="allcontain">
                {% include 'header.html.twig' %}
                {% include 'navbar.html.twig' %}
            </div>
{% endblock %}