<!-- Section Blog Début -->
<section id="blog" class="blog-area section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="section-title">
					<h5>Dernières Actualités</h5>
					<h2>Les Liens Intéressants</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay="0.2s">
				<div class="card">
					<img class="card-img" src="assets/images/news/huile.jpg" alt="image du blog">
					<div class="card-body">
						<h4 class="card-title">
							<a href="https://www.spheretech-europe.com/blog/comment-huile-moteur-influence-performances-voiture-sport/" target="_blank">L'huile améliore les performances de notre voiture ?</a>
						</h4>
						<p class="card-text">Le choix de la bonne huile moteur peut avoir un impact significatif sur les performances de votre voiture.</p>
					</div>


				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay="0.2s">
				<div class="card">
					<img class="card-img" src="assets/images/news/nettoyage.jpg" alt="image du blog">
					<div class="card-body">
						<h4 class="card-title">
							<a href="https://wash-totalenergies.fr/nos-conseils/comment-garder-voiture-propre/" target="_blank">Comment maintenir notre voiture fraîche et propre ?</a>
						</h4>
						<p class="card-text">Pour conserver la fraîcheur et la propreté de votre voiture, il est essentiel de maintenir une routine de nettoyage régulière.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay="0.2s">
				<div class="card">
					<img class="card-img" src="assets/images/news/filtre.jpg" alt="image du blog">
					<div class="card-body">
						<h4 class="card-title">
							<a href="https://www.piecesauto-pro.fr/magazine/changer-seul-son-filtre-huile-146#:~:text=%E2%80%93%20Pour%20les%20cartouches%20filtrantes%20%C3%A0,Verrouillez%20le%20bo%C3%AEtier." target="_blank">Comment changer le filtre à huile à la maison ?</a>
						</h4>
						<p class="card-text">Changer le filtre à huile de votre voiture à la maison est une tâche réalisable avec les bons outils et instructions.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section Blog Fin -->
