		<div class="feturedsection">
			<h1 class="text-center"><span class="bdots">&bullet;</span>OCCASIONS EN OR<span class="bdots">&bullet;</span></h1>
		</div>
		<div class="feturedimage">
			<div class="row firstrow">
				<div class="col-lg-6 costumcol colborder1">
					<div class="row costumrow">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon">
							<img src="image/toyotaor.jpg" alt="toyota">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
							<div class="featurecontant">
								<h1>TOYOTA AYGO</h1>
								<p>1.0 VVT-I 69CH X-PLAY 5P Boîte manuelle</p>
								 <p>83 500 km</p> 
								  <p>Essence </p>
								<h2>9900 &euro;</h2>
								<button id="btnRM" onclick="rmtxt()">PLUS D'INFO</button>
								<div id="readmore">
									<h1>Toyota Aygo</h1>
<p>Une voiture compacte qui incarne la praticité, l'économie de carburant et la convivialité.</p>
<p>Propulsée par un moteur 1.0 VVT-I de 69 chevaux, cette Aygo offre une conduite agile et réactive, idéale pour la circulation en ville. La boîte de vitesses manuelle vous donne un contrôle total sur votre conduite.</p>
<p>À l'intérieur, l'Aygo offre un espace confortable pour le conducteur et les passagers, avec des sièges bien rembourrés et un tableau de bord intuitif. Malgré sa taille compacte, l'Aygo offre une bonne visibilité et une facilité de stationnement.</p>
<p>Le système de divertissement à bord comprend une connectivité Bluetooth, un écran tactile et une radio, vous permettant de rester connecté et divertis en déplacement.</p>
<p>Cette Toyota Aygo est également réputée pour sa fiabilité et son faible coût d'entretien, ce qui en fait un choix économique à long terme.</p>
<p>En résumé, la Toyota Aygo 1.0 VVT-I 69CH X-PLAY 5P est la voiture parfaite pour ceux qui recherchent une conduite économique, une convivialité et une facilité de maniement dans un emballage compact et élégant.</p>
</p>

									<button id="btnRL">L'ESSENTIEL</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 costumcol colborder2">
					<div class="row costumrow">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img2colon">
							<img src="image/clioor.jpg" alt="Clio">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
							<div class="featurecontant">
								<h1>RENAULT CLIO 4</h1>
								<p>1.2 TCE 90 CV INTENS ENERGY CAMERA</p>
								 <p>19 500 km</p> 
								  <p>Essence </p>
								<h2>8500 &euro;</h2>
								<button id="btnRM2">PLUS D'INFO</button>
								<div id="readmore2">
									<h1>Renault Clio 4 1.2 TCE 90 CV INTENS ENERGY CAMERA</h1>
<p>Une voiture qui allie élégance, performance et technologie de pointe.</p>
<p>Avec son moteur 1.2 TCE de 90 chevaux, cette voiture offre une conduite dynamique et économe en carburant, parfaitement adaptée à la conduite en ville et sur autoroute.</p>
<p>La caméra intégrée vous offre une sécurité accrue lors des manœuvres de stationnement et une vue d'ensemble de votre environnement.</p>
<p>L'intérieur spacieux et confortable de la Clio 4 vous invite à profiter de chaque trajet. Les sièges offrent un excellent soutien lombaire, tandis que la climatisation assure un confort optimal quelle que soit la saison.</p>
<p>Cette Renault Clio 4 est également équipée des dernières fonctionnalités technologiques, notamment un système multimédia avancé, une connectivité Bluetooth et une interface conviviale.</p>
<p>En somme, la Renault Clio 4 1.2 TCE 90 CV INTENS ENERGY CAMERA est le choix idéal pour ceux qui recherchent une voiture à la fois élégante, performante et dotée des dernières technologies.</p>
</p>

									<button id="btnRL2">L'ESSENTIEL</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>