<!-- Section du Pied de Page Début -->
<footer class="footer-section">
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 text-center text-lg-center">
                    <div class="copyright-text">
                        <p>GARAGE V. PARROT © 2023 - Conçu par Xabaris et Titto</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Section du Pied de Page Fin -->

<!-- Retour en Haut Début -->
<div class="back-to-top">
    <i class="fa fa-caret-up"></i><i class="fa fa-caret-up"></i>
</div>
<!-- Retour en Haut Fin -->