	<div class="header">
			<ul class="socialicon">
				<li><a href="#"><i class="fa fa-facebook"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
			</ul>
			<ul class="givusacall">
				<li>Appellez nous : +33123456789</li>
			</ul>
			<ul class="logreg">
				<li><a href={{ path('app_login') }}>Connectez vous</a></li>
			</ul>
	</div>