<div class="grid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="txthover image-container">
                <div class="image-container">
                    <img src="image/car1.jpg" alt="Renault Clio">
                </div>
                <div class="txtcontent">
                    <div class="stars">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                    <div class="simpletxt">
                        <h3 class="name">Renault Clio</h3>
                        <p>"La Renault Clio est une voiture compacte très appréciée pour sa fiabilité et son design élégant. Elle offre un excellent confort de conduite et une consommation de carburant économique. Parfaite pour la ville."</p>
                        <h4 class="price">1000&euro;</h4>
                        <button>EN SAVOIR PLUS</button><br>
                        <div class="wishtxt">
                            <p class="paragraph1">Ajouter à la liste de souhaits <span class="glyphicon glyphicon-heart"></span></p>
                            <p class="paragraph2">Comparer <span class="icon"><img src="image/compicon.png" alt="compicon"></span></p>
                        </div>
                    </div>
                    <div class="stars2">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="txthover">
                <div class="image-container">
                    <img src="image/car2.jpg" alt="Nissan">
                </div>
                <div class="txtcontent">
                    <div class="stars">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                    <div class="simpletxt">
                        <h3 class="name">Nissan</h3>
                        <p>"La Nissan est une voiture sportive aux performances exceptionnelles. Son design aérodynamique et ses caractéristiques de pointe en font un choix idéal pour les amateurs de vitesse."</p>
                        <h4 class="price">900 &euro;</h4>
                        <button>EN SAVOIR PLUS</button><br>
                        <div class="wishtxt">
                            <p class="paragraph1">Ajouter à la liste de souhaits <span class="glyphicon glyphicon-heart"></span></p>
                            <p class="paragraph2">Comparer <span class="icon"><img src="image/compicon.png" alt="compicon"></span></p>
                        </div>
                    </div>
                    <div class="stars2">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="txthover">
                <div class="image-container">
                    <img src="image/car3.jpg" alt="Toyota">
                </div>
                <div class="txtcontent">
                    <div class="stars">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                    <div class="simpletxt">
                        <h3 class="name">Toyota</h3>
                        <p>"La Toyota est une voiture familiale spacieuse et confortable. Elle est équipée de nombreuses fonctionnalités de sécurité avancées et offre une conduite en douceur sur toutes les routes."</p>
                        <h4 class="price">3000 &euro;</h4>
                        <button>EN SAVOIR PLUS</button><br>
                        <div class="wishtxt">
                            <p class="paragraph1">Ajouter à la liste de souhaits <span class="glyphicon glyphicon-heart"></span></p>
                            <p class="paragraph2">Comparer <span class="icon"><img src="image/compicon.png" alt="compicon"></span></p>
                        </div>
                    </div>
                    <div class="stars2">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="txthover">
                <div class="image-container">
                    <img src="image/car4.jpg" alt="Renault">
                </div>
                <div class="txtcontent">
                    <div class="stars">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                    <div class="simpletxt">
                        <h3 class="name">Renault</h3>
                        <p>"La Renault est une voiture compacte polyvalente. Elle offre une conduite agréable en ville et sur autoroute. Son design moderne la distingue des autres."</p>
                        <h4 class="price">1000 &euro;</h4>
                        <button>EN SAVOIR PLUS</button><br>
                        <div class="wishtxt">
                            <p class="paragraph1">Ajouter à la liste de souhaits <span class="glyphicon glyphicon-heart"></span></p>
                            <p class="paragraph2">Comparer <span class="icon"><img src="image/compicon.png" alt="compicon"></span></p>
                        </div>
                    </div>
                    <div class="stars2">
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                        <div class="glyphicon glyphicon-star"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
