<div class="latestcars">
    <h1 class="text-center">&bullet; DERNIÈRES VOITURES &bullet;</h1>
    <ul class="nav nav-tabs navbar-left latest-navleft">
        <li role="presentation" class="li-sortby"><span class="sortby">TRIER PAR : </span></li>
        <li data-filter=".RECENT" role="presentation"><a href="#mostrecent" class="prcBtnR">PLUS RÉCENTES </a>
        </li>
        <li data-filter=".POPULAR" role="presentation"><a href="#mostpopular" class="prcBtnR">PLUS POPULAIRES </a>
        </li>
        <li role="presentation"><a href="#" class="alphSort">ORDRE ALPHABÉTIQUE </a></li>
        <li data-filter=".HPRICE" role="presentation"><a href="#" class="prcBtnH">HAUT PRIX </a></li>
        <li data-filter=".LPRICE" role="presentation"><a href="#" class="prcBtnL">BAS PRIX </a></li>
        <li id="hideonmobile">
    </ul>
</div>
<br>
<br>
