<!-- Début de la zone de navigation de l'en-tête -->
<header id="Thecar-theme-menu" class="Thecar-theme-menu-header-navber-area">
	<nav class="navbar navbar-b navbar-trans navbar-expand-lg" id="mainNav">
		<div class="container">
			<img src="assets/images/logo2.png" alt="Nom de votre garage" id="logo">
			<a class="navbar-brand js-scroll" href="index.html">
				<span class="white-logo">GARAGE V. PARROT</span>
				<span class="black-logo">GARAGE V. PARROT</span>
			</a>
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Basculer la navigation"></button>
			<div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link js-scroll active" href="#slider-home">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link1 js-scroll px-5 btn btn-primary" href="{{ asset('/voitures') }}">Nos Voitures d'Occasion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll" href="#services">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll" href="#review">Témoignages</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll" href="#blog">Actualités</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll" href="#contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
<!-- Fin de la zone de navigation de l'en-tête -->
