<div class="newslettercontent">
    <div class="leftside">
        <img src="image/border.png" alt="bordure">
        <h1>INFOLETTRE</h1>
        <p>Inscrivez-vous à la liste de diffusion Garage V. Parrot pour
            recevoir des mises à jour sur les nouveaux arrivages, les offres spéciales
            et d'autres informations sur les réductions.</p>
    </div>
    <div class="rightside">
        <img class="newsimage" src="image/newsletter.jpg" alt="infolettre">
        <input type="text" class="form-control" id="subemail" placeholder="E-MAIL">
        <button>S'ABONNER</button>
    </div>
</div>
