        <!-- Partner Section Start -->
    <div>
        <div class="container">
            <div class="row theme-partner-area section-padding text-center">
                <div class="col-lg-2 col-md-6 ">
                    <div class="theme-single-press-content">
                        <img src="assets/images/partners/c-1.jpg" alt="image" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 ">
                    <div class="theme-single-press-content">
                        <img src="assets/images/partners/c-2.jpg" alt="image" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 ">
                    <div class="theme-single-press-content">
                        <img src="assets/images/partners/c-3.jpg" alt="image" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 ">
                    <div class="theme-single-press-content">
                        <img src="assets/images/partners/c-4.jpg" alt="image" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 ">
                    <div class="theme-single-press-content">
                        <img src="assets/images/partners/c-2.jpg" alt="image" />
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 ">
                    <div class="theme-single-press-content">
                        <img src="assets/images/partners/c-5.jpg" alt="image" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Paertner Section End -->