<!-- Section des Services de Réparation Début -->
<section id="services" class="theme-repair-services section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section-title">
                    <h5>Nous offrons les meilleurs services de réparation</h5>
                    <h2>Nos Services</h2>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <!-- Service individuel -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow Thecar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s">
                <div class="Thecar-theme-single-service-card">
                    <h5>Changements d'huile</h5>
                    <p>Curabitur at arcu sed ex venenatis laoreet. Ut lobortis, turpis et ultrices, ligula ante hendrerit velit</p>
                </div>
            </div>
            <!-- Service individuel -->

            <!-- Service individuel -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow Thecar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s">
                <div class="Thecar-theme-single-service-card">
                    <h5>Lavage & Nettoyage</h5>
                    <p>Curabitur at arcu sed ex venenatis laoreet. Ut lobortis, turpis et ultrices, ligula ante hendrerit velit</p>
                </div>
            </div>
            <!-- Service individuel -->

            <!-- Service individuel -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow Thecar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s">
                <div class="Thecar-theme-single-service-card">
                    <h5>Freins ABS</h5>
                    <p>Curabitur at arcu sed ex venenatis laoreet. Ut lobortis, turpis et ultrices, ligula ante hendrerit velit</p>
                </div>
            </div>
            <!-- Service individuel -->

            <!-- Service individuel -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow Thecar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s">
                <div class="Thecar-theme-single-service-card">
                    <h5>Transmission</h5>
                    <p>Curabitur at arcu sed ex venenatis laoreet. Ut lobortis, turpis et ultrices, ligula ante hendrerit velit</p>
                </div>
            </div>
            <!-- Service individuel -->

            <!-- Service individuel -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow Thecar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s">
                <div class="Thecar-theme-single-service-card">
                    <h5>Pneus & Roues</h5>
                    <p>Curabitur at arcu sed ex venenatis laoreet. Ut lobortis, turpis et ultrices, ligula ante hendrerit velit</p>
                </div>
            </div>
            <!-- Service individuel -->

            <!-- Service individuel -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow Thecar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s">
                <div class="Thecar-theme-single-service-card">
                    <h5>Optimisation du Moteur</h5>
                    <p>Curabitur at arcu sed ex venenatis laoreet. Ut lobortis, turpis et ultrices, ligula ante hendrerit velit</p>
                </div>
            </div>
            <!-- Service individuel -->
        </div>
    </div>
</section>
<!-- Section des Services de Réparation Fin -->
