<!-- Section des Services de Réparation Début -->
<section id="services" class="theme-repair-services section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="section-title">
                    <h5>Nous offrons les meilleurs services de réparation</h5>
                    <h2>Nos Services</h2>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <!-- Service individuel - Changements d'huile -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow Thecar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s">
                <div class="Thecar-theme-single-service-card">
                    <h5>Changements d'huile</h5>
                    <p>Profitez de nos services professionnels de changement d'huile pour maintenir votre moteur en excellent état. Nous utilisons les meilleures huiles pour assurer une performance optimale de votre véhicule.</p>
                </div>
            </div>
            <!-- Service individuel - Changements d'huile -->

            <!-- Service individuel - Lavage & Nettoyage -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow Thecar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s">
                <div class="Thecar-theme-single-service-card">
                    <h5>Lavage & Nettoyage</h5>
                    <p>Laissez votre voiture briller comme neuve grâce à notre service de lavage et de nettoyage. Nous éliminons la saleté, la poussière et les taches, laissant votre véhicule impeccable.</p>
                </div>
            </div>
            <!-- Service individuel - Lavage & Nettoyage -->

            <!-- Service individuel - Freins ABS -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow Thecar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s">
                <div class="Thecar-theme-single-service-card">
                    <h5>Freins ABS</h5>
                    <p>Nos experts en réparation de freins ABS veilleront à ce que votre système de freinage soit fiable et sûr. Votre sécurité sur la route est notre priorité.</p>
                </div>
            </div>
            <!-- Service individuel - Freins ABS -->

            <!-- Service individuel - Transmission -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow Thecar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s">
                <div class="Thecar-theme-single-service-card">
                    <h5>Transmission</h5>
                    <p>Confiez-nous la réparation de votre transmission pour une conduite fluide. Notre équipe expérimentée résoudra rapidement les problèmes de transmission.</p>
                </div>
            </div>
            <!-- Service individuel - Transmission -->

            <!-- Service individuel - Pneus & Roues -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow Thecar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s">
                <div class="Thecar-theme-single-service-card">
                    <h5>Pneus & Roues</h5>
                    <p>Optimisez la tenue de route de votre véhicule en choisissant parmi notre sélection de pneus de haute qualité. Nous offrons également des services de réparation de roues.</p>
                </div>
            </div>
            <!-- Service individuel - Pneus & Roues -->

            <!-- Service individuel - Optimisation du Moteur -->
            <div class="col-lg-4 col-md-6 col-sm-12 wow Thecar-theme-single-service fadeInLeft text-center" data-wow-delay="0.2s">
                <div class="Thecar-theme-single-service-card">
                    <h5>Optimisation du Moteur</h5>
                    <p>Boostez les performances de votre moteur grâce à notre service d'optimisation. Obtenez plus de puissance, d'efficacité et de plaisir de conduite.</p>
                </div>
            </div>
            <!-- Service individuel - Optimisation du Moteur -->
        </div>
    </div>
</section>
<!-- Section des Services de Réparation Fin -->
