<!-- Début de la zone de diaporama -->
<header id="slider-home" class="slider slider-prlx bg-b">
    <div class="swiper-container parallax-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="assets/images/slider-1.jpg" data-overlay-dark="5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="caption text-left">
                                    <h2>Services Professionnels Garantis</h2>
                                    <h1>Services de Peinture Automobile</h1>
                                    <h3>Téléphone : +123 777 777</h3>
                                    <div class="home-button-box home-slider-btn">
                                        <a href="#0" class="button home-btn js-scroll">Contactez-nous</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="bg-img valign" data-background="assets/images/slider-3.jpg" data-overlay-dark="5">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="caption text-left">
                                    <h2>Services Professionnels Garantis</h2>
                                    <h1>Services de Detailing Automobile</h1>
                                    <h3>Téléphone : +123 777 777</h3>
                                    <div class "home-button-box home-slider-btn">
                                        <a href="#0" class="button home-btn js-scroll">Contactez-nous</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</header>
<!-- Fin de la zone de diaporama -->
