	<!-- Start Slider Are -->
    <header id="slider-home" class="slider slider-prlx bg-b">
        <div class="swiper-container parallax-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="bg-img valign" data-background="assets/images/slider-1.jpg" data-overlay-dark="5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="caption text-left">
                                        <h2>Professional Services Guaranted</h2>
                                        <h1>Car Paint Services</h1>
                                        <h3>Phone: +123 777 777</h3>
                                        <div class="home-button-box home-slider-btn">
                                            <a href="#0" class="button home-btn js-scroll">Contact Us</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="bg-img valign" data-background="assets/images/slider-3.jpg" data-overlay-dark="5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="caption text-left">
                                        <h2>Professional Services Guaranted</h2>
                                        <h1>Auto Detailing Services</h1>
                                        <h3>Phone: +123 777 777</h3>
                                        <div class="home-button-box home-slider-btn">
                                            <a href="#0" class="button home-btn js-scroll">Contact Us</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </header>
    <!-- End Slider Area -->