{% extends 'base.html.twig' %}

{% block title %}ADMIN{% endblock %}

{% block contentcss %}
    <link href="{{ asset('assets/stylesheets/commentstyle.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% include 'navbar.html.twig' %}

<div class="container headbar-space">
    <h2>Add User</h2>

    <form action="" method="post" onsubmit="return validateForm()">
        <label for="nom">Last Name:</label>
        <input type="text" name="nom" id="nom" required>
        <br>

        <label for="prenom">First Name:</label>
        <input type="text" name="prenom" id="prenom" required>
        <br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>

        <label for="mot_de_passe">Password:</label>
        <input type="password" name="mot_de_passe" id="mot_de_passe" pattern=".{8,}" title="Le mot de passe doit comporter au moins 8 caractères" required>
        <br>

        <label for="confirm_passe">Confirm Password:</label>
        <input type="password" name="confirm_passe" id="confirm_passe" pattern=".{8,}" title="Les mots de passe doivent correspondre et comporter au moins 8 caractères." required>
        <br>

        <input type="submit" value="Add User">
    </form>

    <script>
        function validateForm() {
            var password = document.getElementById('mot_de_passe').value;
            var confirmPassword = document.getElementById('confirm_passe').value;

            if (password !== confirmPassword) {
                alert('Les mots de passe ne correspondent pas!');
                return false; // Prevent form submission
            }

            // Continue with form submission if passwords match
            return true;
        }
    </script>

            <script>
            document.getElementById('addUserForm').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent the default form submission

                // Get form data
                var formData = new FormData(this);

                // Send AJAX request to the Symfony controller
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '{{ path('add_users') }}', true);
                xhr.onload = function () {
                    if (xhr.status >= 200 && xhr.status < 300) {
                        // Request was successful, handle the response if needed
                        console.log(xhr.responseText);
                    } else {
                        // Request failed
                        console.error('Request failed:', xhr.statusText);
                    }
                };
                xhr.send(formData);
            });
        </script>
</div>

{% endblock %}