{% extends 'base.html.twig' %}

{% block title %}ADMIN{% endblock %}

{% block contentcss %}
    <link href="{{ asset('assets/stylesheets/loginstyle.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/stylesheets/adduserstyle.css') }}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    {% include 'navbar.html.twig' %}

<div class="container headbar-space login-form">
    <h2>Ajouter employé</h2>

    <form action="" method="post" id="addUserForm">
        <label for="nom">Nom:</label>
        <input type="text" name="nom" id="nom" required>
        <br>

        <label for="prenom">Prenom:</label>
        <input type="text" name="prenom" id="prenom" required>
        <br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>

        <label for="mot_de_passe">Mot de passe:</label>
        <input type="password" name="mot_de_passe" id="mot_de_passe" pattern=".{8,}" title="Le mot de passe doit comporter au moins 8 caractères" required>
        <br>

        <label for="confirm_passe">Confirmer mot de passe:</label>
        <input type="password" name="confirm_passe" id="confirm_passe" pattern=".{8,}" title="Les mots de passe doivent correspondre et comporter au moins 8 caractères." required>
        <br>

        <input type="submit" value="Ajoute employé">
    </form>
</div>

    <script>
        document.getElementById('addUserForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Empêche la soumission par défaut du formulaire

    // Récupérer les données du formulaire
    var formData = new FormData(this);

    // Valider les mots de passe
    var password = document.getElementById('mot_de_passe').value;
    var confirmPassword = document.getElementById('confirm_passe').value;

    if (password !== confirmPassword) {
    alert('Les mots de passe ne correspondent pas!');
    event.preventDefault(); // Empêcher la soumission du formulaire
    return; // Arrêter l'exécution du script
}

    // Envoyer la requête AJAX vers le contrôleur Symfony
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '{{ path('add_users') }}', true);
    xhr.onload = function () {
        if (xhr.status >= 200 && xhr.status < 300) {
            // Si la requête a réussi, gérer la réponse
            var response = JSON.parse(xhr.responseText);
            if (response.success) {
                alert('Utilisateur ajouté avec succès!');
            } else {
                alert('Une erreur est survenue lors de l\'ajout de l\'utilisateur.');
            }
        }
        else {
            // Si la requête a échoué
            console.error('La requête a échoué :', xhr.statusText);
        }
    };
    xhr.send(formData);
});
</script>
{% endblock %}