{# templates/article/show.html.twig #}

{# ... Affichez le contenu de l'article ... #}

<h2>Comments</h2>
<ul>
    {% for comment in comments %}
        <li>{{ comment.content }}</li>
    {% endfor %}
</ul>
